<!DOCTYPE HTML>
<html>
	<head>
		<title>Brain Juice - FAQs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="author" content="Brain Juice">
		<meta name="og:title" content="Brain Juice | FAQs">
		<meta name="og:description" content="Brain Juice is a phase-based NFT collection consist of marvelous brains. Answers for frequently asked questions!">
		<meta name="og:site_name" content="Brain Juice">
		<meta name="og:type" content="website">
		<meta name="og:image" content="../assets/css/images/pic0.png">
		<meta name="og:image:alt" content="Brain Juice Banner">
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
    <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/2b667268-f2a4-4c49-8f96-268c69b131d4/icon.ico?v=1647060622260">
	</head>
	<body class="is-preload">
		<div id="transition" class="white"></div>
		<a href="#" class="icon interactable top"><img class="image fit" src="../assets/css/images/top.svg"/><span class="label">To the top</span></a>

		<!-- Header -->
			<header class="header">
				<div class="actions header-left">
					<a href=".." class="icon interactable"><img class="icon-2" src="../assets/css/images/home.svg" width="45px" height="45px"/><span class="label">Home</span></a>
				</div>
				<div class="actions header-right">
					<a href="https://discord.gg/CPYXNpbmVz" class="icon brands fa-discord discord-header interactable"><span class="label">Discord</span></a>
					<dropdown onclick="showDropdown()" class="dropdown icon interactable" style=""><img class="icon-2" src="../assets/css/images/dashboard.svg" width="45px" height="45px"/><span class="label">Dashboard</span></dropdown>
					<div class="dropdown-content interactable">
						<a href="" onclick="connectWallet()" id="connect">Connect Wallet</a>
						<a href="" onclick="gotoDashboard()">Go to Dashboard</a>
					</div>
				</div>
			</header>

		<!-- Wrapper -->
		<main id="momentum-scroll">
			<div id="wrapper">

				<!-- Main -->
					<section id="main3" class="wrapper">
						<div class="inner">
							<h1 class="major">FAQs</h1>
							<span class="image fit"><img src="../assets/css/images/pic3.png" alt="" /></span>
							<div class="faq-container">
								<section class="faq-container-inner">
									<h2 class="faq-title" style="opacity: 1">Basic Questions</h2>
						            <div>
						                <h2 class="faq-page">When is the minting date?<img class="plus" src="../assets/css/images/plus.svg"/></h2>
						                <div class="faq-body">
						                    <p>The minting date will be announced in our <a href="https://discord.gg/CPYXNpbmVz" style="border-bottom: none;">Discord server</a>.</p>
						                </div>
						            </div>
						            <hr class="hr-line">
						            <div>
						                <h2 class="faq-page">What is the mint price?<img class="plus" src="../assets/css/images/plus.svg"/></h2>
						                <div class="faq-body">
						                    <p>The mint price is 0.07 ETH during public mint and 0.05 ETH during presale mint</p>
						                </div>
						            </div>
						            <hr class="hr-line">
						            <div>
										<h2 class="faq-page">What is the limit for minting per wallet?<img class="plus" src="../assets/css/images/plus.svg"/></h2>
						                <div class="faq-body">
						                    <p>There is no minting limit per wallet.</p>
						                </div>
						            </div>
						            <hr class="hr-line">
						            <div>
										<h2 class="faq-page">Is this project wallet based or token based?<img class="plus" src="../assets/css/images/plus.svg"/></h2>
						                <div class="faq-body">
						                    <p>This is a wallet based project. You will be required to provide your wallet address if you are whitelisted before minting arrives.</p>
						                </div>
						            </div>
						        </section>
						        <section id="voting-faq" class="faq-container-inner">
									<h2 class="faq-title" style="opacity: 1">Voting Info Questions</h2>
						            <div>
						                <h2 class="faq-page">Is the voting system safe and will it be hacked?<img class="plus" src="../assets/css/images/plus.svg"/></h2>
						                <div class="faq-body">
						                    <p>The voting system is completely safe and unable to be hacked. Smart contracts are controlled by codes, they cannot be modified once deployed.</p>
						                </div>
						            </div>
						            <hr class="hr-line">
						            <div>
						                <h2 class="faq-page">How can I edit a poll?<img class="plus" src="../assets/css/images/plus.svg"/></h2>
						                <div class="faq-body">
						                    <p>You cannot edit a poll, but you can discard the current poll and create a new one.</p>
						                </div>
						            </div>
						            <hr class="hr-line">
						            <div>
										<h2 class="faq-page">Why is my poll not verified?<img class="plus" src="../assets/css/images/plus.svg"/></h2>
						                <div class="faq-body">
						                    <p>Your poll will not be verified under these circumstances<br>
								&emsp;• No proof given or the proof given is not convincing<br>
								&emsp;• Unfavorable to the community<br>
								&emsp;• Getting too much reports<br>
								If you think none of the conditions above are met, you can always seek for support from our team in our <a href="https://discord.gg/CPYXNpbmVz" style="border-bottom: none;">Discord server</a>.</p>
						                </div>
						            </div>
						        </section>
					    	</div>


							<ul class="actions">
								<li style="width: 100%; padding-top: 5em;"><a href=".." class="button fit scrolly">Back</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="menu">
						<li>&copy; 2022 Brain Juice NFT. All rights reserved.</li>
						<li><a href="faq">FAQs</a></li>
						<li><a href="/privacy-policy">Privacy Policy</a></li>
						<li><a href="" onclick="alert('Smart contract will be released to public soon')">Verified Smart Contract</a></li>
					</ul>
				</div>
			</footer>
		</main>

		<!-- Scripts -->
			<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/web3modal-dynamic-import@1.11.1/dist/index.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@walletconnect/web3-provider@1.7.7/dist/umd/index.min.js"></script>
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
			<script src="../assets/jqueryui/jquery-ui.js"></script>

	</body>
</html>
