<!DOCTYPE HTML>
<html>
	<head>
		<title>Brain Juice - Exclusive Features and Utilities</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="author" content="Brain Juice">
		<meta name="og:title" content="Brain Juice | Exclusive Features and Utilities">
		<meta name="og:description" content="Brain Juice is a phase-based NFT collection consist of marvelous brains. Check out the exclusive features and utilities we have!">
		<meta name="og:site_name" content="Brain Juice">
		<meta name="og:type" content="website">
		<meta name="og:image" content="../assets/css/images/pic1.png">
		<meta name="og:image:alt" content="Brain Juice Banner">
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
    <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/2b667268-f2a4-4c49-8f96-268c69b131d4/icon.ico?v=1647060622260">
	</head>
	<body class="is-preload">
		<div id="transition" class="white"></div>
		<a href="#" class="icon interactable top"><img class="image fit" src="../assets/css/images/top.svg"/><span class="label">To the top</span></a>

		<!-- Header -->
			<header class="header">
				<div class="actions header-left">
					<a href=".." class="icon interactable"><img class="icon-2" src="../assets/css/images/home.svg" width="45px" height="45px"/><span class="label">Home</span></a>
				</div>
				<div class="actions header-right">
					<a href="https://discord.gg/CPYXNpbmVz" class="icon brands fa-discord discord-header interactable"><span class="label">Discord</span></a>
					<dropdown onclick="showDropdown()" class="dropdown icon interactable" style=""><img class="icon-2" src="../assets/css/images/dashboard.svg" width="45px" height="45px"/><span class="label">Dashboard</span></dropdown>
					<div class="dropdown-content interactable">
						<a href="" onclick="connectWallet()" id="connect">Connect Wallet</a>
						<a href="" onclick="gotoDashboard()">Go to Dashboard</a>
					</div>
				</div>
			</header>

		<!-- Wrapper -->
		<main id="momentum-scroll">
			<div id="wrapper">

				<!-- Main -->
					<section id="main2" class="wrapper">
						<div class="inner" style="padding-right:15%">
							<h1 class="major">Exclusive Features and Utilities</h1>
							<span class="image fit"><img src="../assets/css/images/pic1.png" alt="" /></span>
							<p style="margin-bottom: 0;">What makes this project so damn good? This is because we have plans for</p>
							<div>
				                <p class="faq-page features-dropdown">Creating Hype<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>Read <a href="#phase">Phase-based NFT</a>, <a href="#arg">ARG</a>, <a href="#events">Giveaways and Events</a> below.</p>
				                </div>
				            </div>
				            <hr class="hr-line">
				            <div>
				                <p class="faq-page features-dropdown">Keeping the community alive<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>Read <a href="#bot">Official Discord bot</a>, <a href="#community">Self-interacting community</a>, <a href="#arg">ARG</a>, <a href="#voting">Voting system</a> below.</p>
				                </div>
				            </div>
				            <hr class="hr-line">
				            <div>
				                <p class="faq-page features-dropdown">Avoiding gas war<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>Read <a href="#presale">Presale and Whitelisting</a>, <a href="#contract">Smart contract</a> below.</p>
				                </div>
				            </div>
				            <hr class="hr-line">
				            <div>
				                <p class="faq-page features-dropdown">Keeping the project alive<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>Read <a href="#phase">Phase-based NFT</a>, <a href="#p2e">P2E system</a>, <a href="#iogame">IO Game</a>, <a href="#arg">ARG</a> below.</p>
				                </div>
				            </div><p></p>

							<h2 id="phase" class="subtitle">Phase-based NFT</h2>
							<p style="margin-bottom: 0;">Every phase there will be 2,000 Brain Juice released until there are 10,000 Brain Juice in total.</p>
							<div>
				                <p class="faq-page features-dropdown">Long detailed description<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>Phase-based is a NFT collection that progresses gradually. New phase will be released every 2-3 months. During every new phase, 2,000 unique Brain Juice's with different properties will be released for minting <b>until it reaches 10,000 Brain Juice's</b>. This can keep the project popular and alive for longer than most NFT projects. <b>Our project also gives ownership and commercial usage rights to the consumer over their NFT.</b></p>
				                </div>
				            </div><p></p>

							<h2 id="bot" class="subtitle">Official Discord bot</h2>
							<p style="margin-bottom: 0;">Our own bot made for creating the <a href="#p2e">P2E system</a>, <a href="#community">Self-interacting community</a> and entertainment purposes.</p>
							<div>
				                <p class="faq-page features-dropdown">Long detailed description<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>We have our own official Discord bot in our <a href="https://discord.gg/CPYXNpbmVz" style="border-bottom: none;">Discord server</a>. The bot will include a text based RPG with an addictive gameplay. Other features such as convenient tools, competitive multiplayer minigames, and premium commands exclusively for holders will be included in the bot.</p>
				                </div>
				            </div><p></p>

							<h2 id="community" class="subtitle">Self-interacting community</h2>
							<p style="margin-bottom: 0;">You can mute people, start minigames, events all you want as long as people agrees with you</p>
							<div>
				                <p class="faq-page features-dropdown">Long detailed description<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>Our official Discord bot will be programmed to create a self-interacting community. Moderations are kept to a minimum, you are allowed to mute others as long as other agrees to it, start or host minigames and events all you want with other community members.</p>
				                </div>
				            </div><p></p>

							<h2 id="arg" class="subtitle">ARG</h2>
							<p style="margin-bottom: 0;">An alternate reality game to puzzle everyone in our community. First person or group solves it gets $1,000 in ETH!</p>
							<div>
				                <p class="faq-page features-dropdown">Long detailed description<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>ARG is an alternate reality game, where the whole community will be solving puzzles and finding clues together to achieve a goal. We will be having <b>one or more</b> brainstorming ARG for our community. This ARG will be expected to last for at least a couple months. <b>And the first person or group who solves it gets $1,000 minimum in ETH !</b> Doesn't matter if you are not planning to mint, everyone gets to participate!</p>
				                </div>
				            </div><p></p>

							<h2 id="voting" class="subtitle">Voting system</h2>
							<p style="margin-bottom: 0;">Create a poll or vote to make decisions for the good of the community!</p>
							<div>
				                <p class="faq-page features-dropdown">Long detailed description<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>By connecting your wallet, you will have access to the dashboard where you can create polls or vote for the good of the community. <b>To prevent frauds, creating fund requesting polls and voting for them are only available for members that are currently holding at least one of the Brain Juice's.</b> The whole process will automatically be processed through smart contract to assure safety. For more detailed information about <b>voting system and fund requesting</b> proceed to read them <a href="../voting-info">here</a>.</p>
				                </div>
				            </div><p></p>

							<h2 id="p2e" class="subtitle">P2E system (Play to earn)</h2>
							<p style="margin-bottom: 0;">Play our Official Discord bot to earn ETH!</p>
							<div>
				                <p class="faq-page features-dropdown">Long detailed description<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>Brain Juice holders can play our official Discord bot in our Discord server to earn bot currency. Upon earning enough bot currency, Brain Juice holders can purchase ETH with them. <b>ETH bought will be added to their personal bank in the dashboard, and they can withdraw it to their wallet whenever there is more than 0.01 ETH in it.</b></p>
									<p><br><b>This doesn't mean non-holders wouldn't be able to P2E.</b> When holders purchase ETH using the bot currency, they have to provide a wallet address. Non-holders will give their bot currency to the holders in exchange for ETH but with a commission fee, so that both non-holders and holders could gain a profit.</p>
				                </div>
				            </div><p></p>

							<h2 id="events" class="subtitle">Giveaways and Events</h2>
							<p style="margin-bottom: 0;">Giveaways and events to keep the community alive</p>
							<div>
				                <p class="faq-page features-dropdown">Long detailed description<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>We want every single community member have a chance to success beyond their wildest dreams. Therefore we will be hosting giveaways and events such as minigames, quizzes and art contests for prizes!</p>
				                </div>
				            </div><p></p>

							<h2 class="subtitle">Member priviliges <font style="color: #FFD700;">• Holder exclusive</font></h2>
							<p style="margin-bottom: 0;">Get exclusive priviliges for the next phase, in our Discord server and official Discord bot!</p>
							<div>
				                <p class="faq-page features-dropdown">Long detailed description<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>Every single Brain Juice holder will be given a role in our official <a href="https://discord.gg/CPYXNpbmVz" style="border-bottom: none;">Discord server</a>. By having the <b>Holder</b> role, you will be prioritized to get a whitelist spot for the next upcoming phase. Get accessed to various channels, server permissions, premium commands for our official Discord bot.</p>
				                </div>
				            </div><p></p>

							<h2 id="presale" class="subtitle">Presale and Whitelisting</h2>
							<p style="margin-bottom: 0;">Avoid gas war and get a cheaper price for minting!</p>
							<div>
				                <p class="faq-page features-dropdown">Long detailed description<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>During presale, only whitelisted members are allowed to mint and the prices will be cheaper than public mint. There is no minting limit. To get whitelisted, you have to join our <a href="https://discord.gg/CPYXNpbmVz" style="border-bottom: none;">Discord server</a> and follow the steps in our whitelist channel.</p>
				                </div>
				            </div><p></p>

							<h2 id="iogame" class="subtitle">IO Game</h2>
							<p style="margin-bottom: 0;">We will be creating our own IO Game after the second phase arrives!</p>
							<div>
				                <p class="faq-page features-dropdown">Long detailed description<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>After the second phase has arrived, we will be creating an IO Game for our community and everyone around the world that can be played directly on a website. It's a relatively new genre of video game that emphasize simplicity and speed. Brain Juice holders will get exclusive benefits and we will be announcing it in the future.</p>
				                </div>
				            </div><p></p>

							<h2 id="contract" class="subtitle">Smart contract</h2>
							<p style="margin-bottom: 0;">Our project uses smart contract to ensure everything is safe!</p>
							<div>
				                <p class="faq-page features-dropdown">Long detailed description<img class="plus" src="../assets/css/images/plus.svg"/></p>
				                <div class="faq-body">
				                    <p>Brain Juice NFT collection relies on usage of smart contract to manage our NFT collection. Smart contracts are controlled by computer code and cannot be modified by anyone, not even hackers. Our smart contract will be verified by etherscan and can be publicly viewed <a href="">here</a>.</p>
				                </div>
				            </div><p></p>

							<ul class="actions">
								<li style="width: 100%; padding-top: 5em;"><a href=".." class="button fit scrolly">Back</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="menu">
						<li>&copy; 2022 Brain Juice NFT. All rights reserved.</li>
						<li><a href="faq">FAQs</a></li>
						<li><a href="/privacy-policy">Privacy Policy</a></li>
						<li><a href="" onclick="alert('Smart contract will be released to public soon')">Verified Smart Contract</a></li>
					</ul>
				</div>
			</footer>
		</main>

		<!-- Scripts -->
			<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/web3modal-dynamic-import@1.11.1/dist/index.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@walletconnect/web3-provider@1.7.7/dist/umd/index.min.js"></script>
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
			<script src="../assets/jqueryui/jquery-ui.js"></script>

	</body>
</html>
