<!DOCTYPE HTML>
<html>
	<head>
		<title>Brain Juice - Page not found</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<meta name="author" content="Brain Juice">
		<meta name="og:title" content="Brain Juice | Page Not Found">
		<meta name="og:description" content="Brain Juice is a phase-based NFT collection consist of marvelous brains. Page Not Found...">
		<meta name="og:site_name" content="Brain Juice">
		<meta name="og:type" content="website">
		<meta name="og:image" content="../assets/css/images/pic0.png">
		<meta name="og:image:alt" content="Brain Juice Banner">
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
    <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/2b667268-f2a4-4c49-8f96-268c69b131d4/icon.ico?v=1647060622260">
	</head>
	<body>
		<div id="transition" class="white"></div>
		<div class="error">
			<div class="error-container">
				<h2>Whoops!</h2>
				<p>Unknown Error</p>
				<ok class="error-button" onclick="closealert()">Okay</ok>
			</div>
		</div>

		<!-- Header -->
			<header class="header">
				<div class="actions header-left">
					<a href=".." class="icon interactable"><img class="icon-2" src="../assets/css/images/home.svg" width="45px" height="45px"/><span class="label">Home</span></a>
				</div>
				<div class="actions header-right">
					<a href="https://discord.gg/CPYXNpbmVz" class="icon brands fa-discord discord-header interactable"><span class="label">Discord</span></a>
					<dropdown onclick="showDropdown()" class="dropdown icon interactable" style=""><img class="icon-2" src="../assets/css/images/dashboard.svg" width="45px" height="45px"/><span class="label">Dashboard</span></dropdown>
					<div class="dropdown-content interactable">
						<a href="" onclick="connectWallet()" id="connect">Connect Wallet</a>
						<a href="" onclick="gotoDashboard()">Go to Dashboard</a>
					</div>
				</div>
			</header>

		<div id="main" class="wrapper" style="height: 86vh;">
			<div class="inner" style="text-align: center;padding-top: 10em;">
				<h1>Page not found!</h1>
				<h3 class="subtitle" style="line-height:2">This page is not available!<br>Wrong link perhaps?<br>Double check the URL!</h3>
				<ul class="actions">
					<li style="width: 100%; padding-top: 5em"><a href=".." class="button scrolly" style="width:75%">Home</a></li>
				</ul>
			</div>
		</div>

		<footer id="footer">
			<div class="inner">
				<ul class="menu">
					<li>&copy; 2022 Brain Juice NFT. All rights reserved.</li>
					<li><a href="faq">FAQs</a></li>
					<li><a href="/privacy-policy">Privacy Policy</a></li>
					<li><a href="" onclick="alert('Smart contract will be released to public soon')">Verified Smart Contract</a></li>
				</ul>
			</div>
		</footer>

		<!-- Scripts -->
			<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/web3modal-dynamic-import@1.11.1/dist/index.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@walletconnect/web3-provider@1.7.7/dist/umd/index.min.js"></script>
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
			<script src="../assets/jqueryui/jquery-ui.js"></script>

	</body>
</html>
